<main>
  <%= for {key, val} <- get_flash(@conn) do %>
    <article class={flash_class(key)} role="alert">
      <div class="message-body"><%= val %></div>
    </article>
  <% end %>
  <%= @inner_content %>
</main>
